#bf .selectedNode text {
    font-weight: bold;
}

#bf .nodes .nodeHighlight .baseline,
#bf .edges .nodeHighlight .baseline {
    stroke-width: 3px;
    stroke: green;
    stroke-opacity: 0.6;
}

#bf .nodes .nodeHighlight .background,
#bf .edges .nodeHighlight .background {
    fill: green;
    fill-opacity: 0.3;
}

#bf .nodes .edgeHighlight .baseline,
#bf .edges .edgeHighlight .baseline {
    stroke-width: 3px;
    stroke: red;
    stroke-opacity: 0.6;
}

#bf .nodes .edgeHighlight .background,
#bf .edges .edgeHighlight .background {
    fill: red;
    fill-opacity: 0.3;
}

#bf .alph.selectedOrdering path,
#bf .gansner.selectedOrdering path,
#bf .sort.selectedOrdering rect,
#bf .header .selectedOrdering path {
    stroke: orange;
    fill: orange;
}

#bf .stair .background {
    fill: blue;
    fill-opacity: 0.3;
}

#bf .fake .background {
    fill: orange;
    fill-opacity: 0.3;
}